@model List<RoleAssingViewModel>
@{
    ViewData["Title"] = "AssingRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Role Atama Sayfasına Hoşgeldiniz</h1>
<form method="post">
    @for(int i =0; i<Model.Count; i++)
    {
        <div class="form-check">
            <input type="hidden" asp-for="@Model[i].Id" />
            <input type="hidden" asp-for="@Model[i].Name" />
            <input type="checkbox" asp-for="@Model[i].RoleExist" class="form-check-input"/>
            <label class="form-check-label" for="@Model[i].RoleExist">@Model[i].Name</label>
        </div>
    }
    <button class="btn btn-primary">Kaydet</button>
</form>
