@model List<Reservation>
@{
    ViewData["Title"] = "MyAprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Onay bekleyen Rezervasyon</h1>

<table class="table table-bordered"> 
    <tr>
       
        <th>Lokasyon</th>
        <th>Şehir</th>
        <th>Kişi sayısı</th>
        <th>Rezervasyon Tarihi</th>
        <th>Durum</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.DEscription</td>
            <td>@item.Destination.City</td>

            <td>@item.PersonCount</td>
            <td>@item.ReservationDate.ToShortDateString()</td>
            <td>@item.Status</td>
        </tr>
    }

</table>